.brand {
    padding: 30px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 8px 16px;
            background: green;
            color: white;
            border: 1px solid green;
            border-radius: 8px;
            font-size: 18px;
        }
    }
}