.overlay {
  width: 100%;
  height: 100vh;
  background: #aaa1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  animation: overlay 0.3s forwards;
  z-index: 120;
}

@keyframes overlay {
  to {
    opacity: 1;
  }
}

.model {
  position: fixed;
  width: 500px;
  height: 100vh;
  background: #fff;
  top: 0;
  right: 0;
  padding: 30px 0;
  opacity: 1;
  animation: model 0.3s forwards;
  overflow: auto;
  z-index: 9999;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 0.4px solid rgba(0, 0, 0, 0.493);
    margin-bottom: 15px;
  }

  &__title {
    font-size: 24px;
    font-weight: 300;
  }

  &__btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: black;
  }

  &__children {
    padding: 0 30px;
  }
}

@keyframes model {
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .model {
    width: 80% !important;
    padding: 20px 15px;

    &__btn {
      position: absolute;
      top: 3px;
      right: 3px;
      border: none;
      background-color: transparent;
      color: red;
    }
  }
}